
	.nav-tabs > li, .nav-pills > li {
	float:none;
	display:inline-block;
	*display: inline;     /* for IE7*/
	*zoom:1;              /* for IE7*/
	
	}

	.nav-tabs {
	text-align:right;
	}
	.cruise {
		position:relative;
		top:40px;
		font-size: 3em;
	}
	#agents {
		background-color: white;
		border-top: 3px solid #333;
		border-right: 3px solid #333;
		border-bottom: 3px solid #333;
		border-left: 3px solid #333;
	}
	.tab-content-header {
		background-color: grey;
		margin-bottom: 0px;
		border-bottom: 3px solid #333;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		/*make the tab color grey*/
		background-color: grey;
		font-weight: bold;
		color: white;
		border-top: 3px solid #333;
		border-right: 3px solid #333;
		border-bottom: 1px solid grey;
		border-left: 3px solid #333;
	}
	
	.agentHeader{
		font-weight: bold;
		font-size: 1.2em;
		padding-left: 10px;
		padding-right: 10px;
		color: white;
		
	}
	.btn {
		margin-left: 10px;
		margin-right: 10px;
	}
	.topRight2 {
		margin-right: 10px;
	}
	.right-side-content {
		border-left: 3px solid #333;
	}
	.panelCircle {
		height: 50px;
		width: 50px;
	}
	#displayRes1, #displayRes2, #displayRes3, #displayRes4 {
		display: inline;

	}
	.resource {
		cursor:pointer;
		display:inline;
		color:#fff;
		background:#689;
		padding:2px;
		padding-right:25px;
		margin:0px 10px 0px 0px;
	}
	.resource:hover {
  		opacity:0.7;
	}
	.resource:after{
		 position:absolute;
		 content:"x";
		 border:1px solid;
		 padding:0 6px 0px 6px;
		 margin:0px 0px 0px 3px;
		 font-size:10px;
	}
	.panel-innerdiv-top {
		margin-left:50px;
	}
	.panel-innerdiv-bottom {
		margin-left:50px;
		font-size:0.85em;
	}
	.left-side-content {
		margin-top: 20px;
		margin-left: 20px;
	}
	.container {
		margin-top: 30px;
	}